.soda-mango__image {
  grid-row: 1/6;
  grid-column: 3/4;
  z-index: -2;
  aspect-ratio: 430/610;
}

@media (max-width: 925px) {
  .soda-mango__image {
    grid-row: 3/4;
    grid-column: 1;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 472px) {
  .soda-mango__image {
    aspect-ratio: 280/397;
    width: 100%;
  }
}
